.container--header{
    display: block;
    position: absolute;
    margin-left: -100vw;
    margin-top: 3.2rem;
    padding-top: .5rem;
    padding-left: 1rem;
    z-index: 998;
    top: 0;
    width: 60%;
    height: 100vh;
    // background-color: #272822;
    //background-color: rgba(100, 100, 100, 0.2);
    //background-color: rgb(28, 24, 43);
    background-color: #ca19e6;
    transition: margin-left .5s ease;

    &.is-active { margin-left: 0; }
}

.container--nav {
    text-decoration: none;
}

a {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    color: #fff;
    padding: 10px 0px 8px 0px;
    border-bottom: .1px solid #F8F8F2;
}

.Header-btn {
    position: relative;
    display: flex;
    z-index: 999;
    padding: 0px 15px 0px 15px;
    margin: 0;
}

//  Phone
.logomistica {
    width: 60px;
    height: 50px;
}

.container--phone {
    display: flex;
    justify-content: space-between;
}

.container--title {
    padding-right: 15px;
    
}

.title {
    display: block;
    width: 100%;
}

.mistica {
    font-family: "Jenna Sue";
}
// .container--user {
//     display: flex;
//     position: relative;
//     justify-content: center;
//     border: 1px solid red;
// }

// a.icon-user {
//     display: flex;
//     position: relative;
//     justify-content: center;
//     border: 1px solid;
// }
// [class^="icon-"]::before, [class*=" icon-"]::after {
//     width: 50px;
//     border: 1px solid green;
//     color: blue;
// }